body {
	overflow-y: auto;
	margin: 20px 20px 20px 20px;
}

.color-container {
	width: 200px;
	height: 200px;
}

.container {
	margin: 12px 12px 12 12px;
}

div {
	margin-top: 12px;
	margin-bottom: 12px;
}
