<!DOCTYPE HTML>
<html>
	<head>
		<title>Arcus</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/my.script.css')}} " />
	</head>
	<body>

	<div class="app">
		<div class="container center">
			
			<div class="closest-color color-container">
				<label>	Closest Color </label>
			</div>

			<div class="your-color color-container">
				<label>	Your Color </label>
			</div>

			<div>
				<button id="change"> Shop! </button>
			</div>
		</div>
	</div>
		<!-- Scripts -->
			<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='assets/js/my.script.js') }}"></script>

	</body>
</html>
